.font-oxygen {
  font-family: "Oxygen", sans-serif;
}
.shapes-bg {
  background-image: url("./pages/img/me.svg");
  /* background-size: cover; */
  background-size: screan;
  /* animation: moveIt 15s linear infinite; */
  animation: mymove 15s infinite;
}
@keyframes mymove {
  50% {
    background-position: center;
  }
}
@keyframes moveIt {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.map {
  z-index: 0;
}
.navbar {
  z-index: 10;
}

.arrows {
  background-image: url("./pages/img/Group\ 2.svg");
  background-size: auto;
  background-size: screan;

  animation: moveIt 15s linear infinite;
  background-position: left;
  background-repeat: no-repeat;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
.bg-card {
  background: rgba(255, 255, 255, 0.6);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.left-70 {
  left: 70%;
}
